<app-navbar />
<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h2>Sale</h2>
        </div>
        <div>
            <button class="btn btn-primary" (click)="onAdd()">Aggiungi</button>
        </div>
    </div>
    <table class="table mt-5">
        <thead>
            <tr>
                <th class="col-3" scope="col">Nome</th>
                <th class="col-3" scope="col">Posti</th>
                <th class="col-3" scope="col">IMAX</th>
                <th class="col-3" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data; let i = index">
                <td class="col-3">
                    <span>{{item.name}}</span>
                </td>
                <td class="col-3">
                    <span>{{item.capacity}} posti</span>
                </td>
                <td class="col-3">
                    <span>{{item.hasIMAX ? 'Sì' : 'No'}}</span>
                </td>
                <td class="col-3">
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="me-2">
                            <button class="btn btn-primary" (click)="onEdit(item.id)">Modifica</button>
                        </div>
                        <div>
                            <button class="btn btn-danger" (click)="onDelete(item.id)">Elimina</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>