<app-navbar />
<div class="container">
  <div class="row my-5">
    <div class="col-4 m-0 p-0" *ngFor="let item of dataArray">
      <div class="m-3">
        <div class="card w-100">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShJCeBkwXV30x6m7j9pfTIbV0BY7bqtFV_hA&s"
            class="card-img-top" alt="img" />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>