<app-navbar />
<div class="container">
  <div class="row my-5">
    <div class="col-4 m-0 p-0" *ngFor="let item of dataArray">
      <div class="m-3">
        <div class="card w-100">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h4 class="card-title">{{ item.title }}</h4>
              <small
                >{{ getGenreString(item.genre) }} -
                {{ item.minuteLenght }} minuti</small
              >
            </div>
            <h6 class="card-text">
              {{ item.director }}
            </h6>
            <hr>
            <p class="card-text">
              {{ item.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
