<app-navbar />
<div class="container">
  <div class="d-flex justify-content-between align-items-center my-5">
    <div class="d-flex">
      <div class="d-flex align-items-center me-2">
        <label class="me-2" for="from">Da:</label>
        <input id="from" name="from" type="date" class="form-control" [(ngModel)]="fromDate" (input)="onDateChange()">
      </div>
      <div class="d-flex align-items-center me-2">
        <label class="me-2" for="to">A:</label>
        <input id="to" name="to" type="date" class="form-control" [(ngModel)]="toDate" (input)="onDateChange()">
      </div>
      <div>
        <button class="btn btn-outline-dark" (click)="onResetDates()">Reset</button>
      </div>
    </div>
    <div>
      <input type="text" class="form-control" placeholder="Ricerca..." [(ngModel)]="searchString"
        (input)="onSearchStringChange()">
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12" *ngFor="let item of filteredData">
      <div class="m-3">
        <div class="card">
          <div class="card-body">
            <div class="row d-flex">
              <div class="col-10">
                <div>
                  <h4 class="card-title">{{ item.title }}</h4>
                </div>
                <div>
                  <small>{{ getGenreString(item.genre) }} -
                    {{ item.minuteLenght }} minuti</small>
                </div>
                <div>
                  <h6 class="card-text">
                    {{ item.director }}
                  </h6>
                </div>
                <hr>
                <div>
                  <p class="card-text">
                    {{ item.description }}
                  </p>
                </div>
              </div>
              <div class="col-2">
                <div class="text-center d-flex justify-content-center align-items-center w-100 h-100">
                  <div *ngIf="item.schedule; else noSchedule">
                    <div>
                      <small>Dal {{item.schedule.startDate | date:'dd/MM/yyyy'}}</small>
                    </div>
                    <div>
                      <small>Al {{item.schedule.endDate | date:'dd/MM/yyyy'}}</small>
                    </div>
                    <div>
                      <strong>In {{item.schedule.screen.name}}</strong>
                    </div>
                  </div>
                  <ng-template #noSchedule>
                    <div>
                      <small>Nessuna programmazione al momento</small>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>